img.lazy {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

img.loading {
    opacity: 0.5;
}

img.loaded {
    opacity: 1;
}

body{
    scroll-behavior: smooth;
}

/* Add this to your CSS file */
.testimonials-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.testimonial-slide {
    flex-shrink: 0;
}

.testimonials-slider {
    overflow: hidden;
}